@{
    ViewBag.Title = "Apie";
}
<section id="Apie">
    <div class="page-header">
        <h1>Apie</h1>
    </div>
    <div class="row">
        <div class="content">
            <p>
                Sistema, skirta valdyti "Foxus" komandos darbus.
            </p>
			<p>
				Sukurta naudojant <a href="http://twitter.github.com/bootstrap">Bootstrap</a>, MVC3 ir <a href="http://www.littlebigtomatoes.com/bootstrapmvc/">BootstrapMVC</a>
			</p>
			<br />
        </div>
    </div>
</section>
